@model ProjectsInfoVM
<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <p>
        <label asp-for="@Model.Name"></label>@Model.Name
    </p>
    <p>
        <label asp-for="@Model.Category"></label>@Model.Category
    </p>
    <p>
        <label asp-for="@Model.TotalTime"></label>@Model.TotalTime

        <br />











    </p>
</body>
</html>
