@model ProjectsInfoVM
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <title> </title>
</head>
<body>
    <p>
        <label asp-for="@Model.Name"></label>@Model.Name
    </p>
    <p>
        <label asp-for="@Model.Category"></label>@Model.Category
    </p>
    <p>
        <label asp-for="@Model.TotalTime"></label><span id="totalTimeSpan">@Model.TotalTime</span>
    </p>

    <nav class="controls">
        <a id="startButton" href="#" class="button">Start</a>
        <a id="stopButton" href="#" class="button" data-projectId="@Model.Id">Stop</a>
    </nav>
    <div class="stopwatch"></div>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.min.js"></script>
    <script src="/js/stopwatch.js"></script>
    <script src="~/js/Info.js"></script>
</body>
</html>
