@model ProjectsInfoVM
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" />

    <title> </title>
</head>
<body>
    <p>
        <label asp-for="@Model.Name"></label>@Model.Name
    </p>
    <p>
        <label asp-for="@Model.Category"></label>@Model.Category
    </p>
    <p>
        <label asp-for="@Model.TotalTime"></label>@Model.TotalTime
    </p>

        <nav class="controls">
            <a href="#" class="button" onClick="stopwatch.start();">Start</a>
            <a href="#" class="button" onClick="stopwatch.stop();">Stop</a>
        </nav>
        <div class="stopwatch"></div>
        <ul class="results"></ul>

        <script src="/js/stopwatch.js"></script>
</body>
</html>
